body {
    background-color: #eceef1;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #696969;
}
a {
    text-decoration: none;
    color: #1E90FF;
}
header, .form-parent, .terms-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text {
    font-size: 0.8em;
    line-height: 0.7;
}
.signin-img {
    margin-left: 20%;
}
.form-parent {
    background-color: white;
    border: 1px solid #C0C0C0;
    width: 460px;
    margin:auto;
}
.form-intro {
    text-align: center;
}
.form-intro-txt {
    margin-top: 1em;
    line-height: 0.5;
}
.form-intro-heading {
    font-weight: 500;
}
.form-intro-txt-desc {
    font-size: 0.8em;
}
.input-parent {
    margin-left: 0;
    text-align: left;
    width: 350px;
}
.email-input-parent, .phone-input-parent, .password-input-parent {
    margin-bottom: 2em;
    font-size: 0.9em;
    font-weight: 600;
}
span {
    font-size: 0.9em;
    font-weight: 500;
}
.input {
    width: 85%;
    height: 2em;
    margin-top: 1em;
}
.phone-number-warn {
    font-size: 0.7em;
}
.create-btn-parent {
    width: 200px;
}
.create-btn {
    background-color: #1E90FF;
    height: 2em;
    width: 200px;
    border: none;
    border-radius: 5%;
    color: white;
    font-size: 1.4em;
}
.privacy-parent {
    text-align: center;
    font-size: 0.7em;
    margin-top: 7px;
}
.captcha {
    text-align: center;
    font-size: 0.6em;
    margin-top: 30px;
    height: 50px;
    width: 460px;
    
    background-color: #eceef1;
}
.captcha-txt {
    padding-top: 1em;
}
.legal-parent {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 0;
    font-size: 0.8em;

}
.legal-long-txt {
    text-align: center;
    width: 50%;
    font-size: 0.8em;
    margin-top: -8px;
}
footer {
    background-color: white;
    height: 70px;
    margin-bottom: 20px;
}
.footer-txt {
    font-size: 1em;
    padding-top: 28px;
    padding-left: 15px;
    font-weight: 600;
}
